@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* GENERAL STYLING REST */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --primary-color: #00bf63;
    --secondary-color: #fff;
}
/* IMAGE DEAFAULT */
img{
    height: auto;
}

/* HAEDER/NAVIGATION STYLING */
header{
    width: 100%;
    height: 4rem;
    padding-inline: 1rem;
    background-color: transparent;
}

.logo{
    display: flex;
    height: 4rem;
    width: 13rem;
    padding-block: 0.3rem;
 
}
.logo img{
    width: 4.7rem;
}
.logo-text{
    font-size: 1.5rem;
    line-height: 1;
    padding-top: 0.4rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.navbar-toggle{
    display: none;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
 }
 .main-nav{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-nav{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: 7rem;
}
.sub-nav li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 450;
    padding-inline: 1rem;
}
.sub-nav li a:hover{
   color: var(--primary-color);
}

.call-to-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign{
    padding: 0.6rem 1rem;
    border-radius: 5rem;
    border: 2px solid var(--primary-color);
    color: #000;
    text-decoration: none;
    font-size: 13px;
    margin-right: 1.2rem;
}

.call-to-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.small{
    display: none;
}
/* .sign:last-child{
    padding: 0.6rem 1rem;
    border-radius: 5rem;
    border: 1px solid var(--primary-color);
    color: #000;
}
.sign:last-child:hover{
    background-color:transparent;
    border: 1px solid white;
    color: #fff;
} */
.sign:hover{
    border: 1px solid white;
    color: #fff;
    background-color: var(--primary-color);

}
@media (max-width:780px) {
    header{
        width: 100%;
        position: fixed;
        height: fit-content;
        background-color: #fff;
        display: flex;
        padding-block-start: 0.2rem;
        padding-inline: 0rem;
    }
    .navbar-toggle{
        display: block;
        position: absolute;
        background-color: transparent;
        color: #000;
        font-size: 2rem; 
        border: none;
        right: 0%;
        margin-right: 1rem;
     }
     .navbar-toggle:hover{
        opacity: 0.5;
     }
    .main-nav{
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        text-align: center;
     }
    .main-nav .sub-nav{
        margin-left: 0rem;
        display: block;
        position: relative;
        top: 0%;
        left: 30% ;
        background-color: var(--secondary-color);
        opacity: 0.9;
        width: 70%;
        height: 100vh;
        z-index: 4;
        border-right: 1px solid #ccc;
        padding: 0px;
        transform: translateX( 500px);
     }
  
    .main-nav ul.sub-nav li{
        padding: 1rem ;
        width: 100%;
        border-bottom: #ccc solid 1px;
        font-size: 15px;
     }
    .main-nav ul.sub-nav li:last-child{
        border-bottom: 0;

     }
    .main-nav ul.sub-nav.show{
       transform: translateX( 0px);
     }
    .main-nav ul.sub-nav li:hover{
        border-bottom:  none;
     }
    .main-nav ul.sub-nav li a{
        color: black;
        width: 100%;
        font-size: 18px;
        padding: 1rem;
     }
     .small{
        display:block ;
        width: 50%;
        margin: 1rem auto;
     }
     .call-to-action{
        display: none;
     }
}


/* HERO SECTION STYLING */
.hero{
    height: 90vh;
    width: 100%;
    padding-inline: 1rem;
    padding-block-start: 1rem;
}

.hero-img-container{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background-image: url(/images/surgery.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
}
.hero-text-container{
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
    width: 100%;
}
.hero-text{
    width: 30%;
    height: 9rem;
    padding: 2rem 1.5rem;
    border-radius: 0.8rem;
    background-color: #fff;
}
.hero i{
    display: flex;
    float: right;
    margin-left: 1rem;
    font-size: 17px;
    font-weight: 200;
}
.hero-text h2{
    font-size: 19px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}
.hero-text p{
    font-size: 14px;
}

@media (max-width:780px) {
    .hero{
        height: 90vh;
        width: 100%;
        padding-inline: 0.1rem;
        padding-block-start: 0rem;
    }
    .hero-text:first-child,
    .hero-text:last-child{
        display: none;
    }
    .hero-text-container{
        width: 100%;
        height: fit-content;
    }
    .hero-text{
        width: 100%;
        height: fit-content;
    }
    .hero-img-container{
        width: 100%;
        height: 100%;
        border-radius: 0rem;
    }

}

/* WHAT WE DO STYLING */
.what-we-do{
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 5rem 10rem; 
}
.what-we-do h5{
    font-size: 14px;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
}
.what-we-do h6{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.what-we-do p{
    font-size: 15px;
    font-weight: 00;
    margin-bottom: 3.5rem;
}
.whatwedo-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}
.box{
    height: fit-content;
    padding-inline: 2rem;
    text-align: left;
    border: 2px solid var(--primary-color);
    margin-bottom: 5rem;
}
.box-img{
    height: 5rem;
    width: 6rem;
    margin-top: -2rem;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);

}
.box2-img{
    height: 5rem;
    width: 6rem;
    margin-top: -2rem;
    background-color: #fff;
    padding: 1.1rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}
.box3-img{
    height: 5rem;
    width: 6rem;
    margin-top: -2rem;
    background-color: #fff;
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}
.box-text h4{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 1rem;
}
.box-text p{
    font-size: 15px;
    font-weight: 00;
    margin-bottom: 2.5rem;
}
.box-btn {
    width: 100%;
    height: 2.5rem;
    color: #fff;
    font-size: 17px;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary-color);
    margin-bottom: 3rem;
}
.box-btn:hover {
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    opacity: 0.8;
    border: 5px solid var(--primary-color);
    background-color: var(--primary-color);
}
@media (max-width:780px) {
    .what-we-do{
        padding: 1rem 1rem; 
        height: fit-content;
    }
    .whatwedo-boxes{
        display: block;
    }
    .box{

        margin-bottom: 2.5rem;
    }
}

/* BLOCK SECTION STYLING */
.block{
    width: 100%;
    height: 90vh;
    padding: 3rem 6rem;
}
.block-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 1rem;

}
.block1{
    background-image: url(/images/hero-p.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.block2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}   
.small-block{
    text-align: center;
    padding-inline: 2rem;
    padding-block-start: 4rem;
    
}
.small-block h5{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.small-block p{
    font-size: 17px;
    line-height: 1.5rem;
}
.small-block i{
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.small-block:first-child{
    background-color: #fdf1af;
}
.small-block:last-child{
    background-color: #c8e4f6;
    border-bottom-right-radius: 1rem;
}
@media (max-width:780px) {
    .block{
        height: fit-content;
        padding: 3rem 1rem;
    }
    .block-container{
        display: block;    
    }
    .block1{
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
        margin-bottom: 1rem;

    }
    .block2{
        display: block;
    }  
    .small-block:nth-child(2),
    .small-block:nth-child(3){
        display: none;
    } 
    .small-block{
        text-align: center;
        height: 15rem;
        padding-inline: 2rem;
        padding-block-start: 4rem;
        
    }
    .small-block:first-child{
        background-color: #fdf1af;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    .small-block:last-child{
        background-color: #c8e4f6;
        border-radius: 1rem;
    }
}

/* STATE CONTAINER SECTION STYLING */
.state-container{
    height: 40vh;
    width: 100%;
    padding: 4rem 4rem;
    background-color: rgba(67, 186, 127, .1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
}

.state{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.state-header{
    border-bottom: 1px solid rgb(203, 203, 203);
    margin-bottom: 1rem;
}
.state-header h5{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.state h6{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.8rem;
}
.state p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1rem;
}
@media (max-width:780px) {
    .state-container{
        height: fit-content;
        padding: 4rem 1rem;
        display: block;
        background-color: var(--secondary-color);
    }
    .state{
        margin-bottom: 1rem;
        background-color: rgba(67, 186, 127, .1);

    }
    
}


/* OUR DOCTORS STYLING */
.doctors{
    height: 100vh;
    width: 100%;
    padding: 5rem 6rem;
    text-align: center;
}
.doctors h5{
    font-size: 17px;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
}
.doctors h6{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.doctor-text{
    width: 100%;
    height: fit-content;
    padding-block: 1rem;
    margin-bottom: 7rem;
}
.doctor-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
    height: 53%;
    width: 100%;
    
}
.d-box{
    width: 100%;
    height: 100%;
    padding:1rem  0rem;
    display: grid;
    cursor: pointer;
    place-items: center;
    /* text-align: center; */
    border-radius: 1rem;
    background-color: rgba(203, 203, 203, 0.27);
}
.d-box:hover{
    background-color: #c6c6c6;
}
.dbox-img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: grid;
    place-items: center;
    margin-top: -6rem;
    background-color: #ffffff;
    border: 1px solid var(--primary-color);
}
.doc-img{
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 9.5rem;
    height: 9.5rem;
}
.docimg1{
    background-image: url(/images/doc1-martin.png);
}
.docimg2{
    background-image: url(/images/doc2\ robert-jackson.png);
}
.docimg3{
    background-image: url(/images/doc2\ sarah-davis.png);
}
.docimg4{
    background-image: url(/images/doc4\ jessica-white.png);
}
.dbox-text{
    width: 100%;

}
.dbox-text h4{
   font-size: 21px;
   margin-bottom: 0.7rem;
   font-weight: 600;
}
.dbox-text p{
    font-size: 13px;
    margin-bottom: 1rem;
 }
.dbox-text i{
    font-size: 13px;
    color: var(--primary-color);
 }
.dbox-text a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 500;
 }
 .dbox-text a:hover{
    color: rgba(67, 186, 126, 0.536);
 }
 @media (max-width:780px) {
    .doctors{
        height: fit-content;
        padding: 2rem 1rem;
    }
    .doctor-boxes{
        display: block;
    }
    .d-box{
        width: 100%;
        height: 100%;
        padding:1rem  0rem;
        margin-bottom: 7rem;
    }
 }

/* TESTIMONIAL/PATIENT REVIEW SECTION STYLING */
.testimonial{
    width: 100%;
    height: 90vh;
    padding: 3rem 7rem;
    background-color: rgba(203, 203, 203, 0.27);;
}
.testimonial h5{
    font-size: 17px;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
}
.testimonial h4{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.review-block{
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}
.r-block1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2%;
}
.r-box{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
}
.r-box:hover{
    background-color: rgba(67, 186, 126, 0.536);
}
.r-box:nth-of-type(2){
    background-color: rgba(67, 186, 126, 0.536);
}
.r-box h6{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.r-box p{
    font-size: 13px;
    font-weight: 450;
}
.r-block2{
    background-image: url(/images/66696282aa1489681ac2e77f_service-thumb-04-p-500.jpg);
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.r-block3{
    background-color: #fff;
    border-radius: 1rem;
    padding: 2.8rem;
}
.block3-first{
    font-size: 20px;
    margin-bottom: 7rem;
    font-weight: 200;
}
.r-block3 p{
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6rem;
}
@media (max-width:780px) {
    .testimonial{
        height: fit-content;
        padding: 3rem 1rem;
        text-align: center;
    }
    .review-block{
        display: block;
        height: fit-content;
    }
    .r-block1{
        height: fit-content;
        display: block;
        margin-bottom: 1rem;
    }
    .r-box{
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
    }
    .r-block2{
        display: none;
    }
}


/* BLOG STYLING */

.blog{
    width: 100%;
    height: 97vh;
    text-align: center;
    padding: 4rem 7rem;
}
.blog-text{
    width: 100%;
    height: 20%;
    margin-bottom: 1rem;
}
.blog h5{
    font-size: 18px;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
}
.blog h6{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.blog-boxes{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
}
.blog-box{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #f5f5f5;
}
.blog-box-txt:hover,
.second-blog-edit:hover{
    background-color: rgba(133, 244, 189, 0.278);
    cursor: pointer;
}
.blog-box-img{
    width: 100%;
    height: 55%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.first-blog{
    background-image: url(/images/blog\ 1\ expert-advice-on-chronic-conditions.jpg);
}
.second-blog{
    background-image: url(/images/blog\ 2enhancing-your-life-through-mind-body-practices.png);
}
.third-blog{
    background-image: url(/images/blog\ 3regular-screenings-and-health-maintenance.png);
}
.second-blog-edit h4{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.05rem;
    margin-bottom: 0.6rem;
}
.blog-box-txt,
.second-blog-edit{
    width: 100%;
    height: 45%;
    text-align: left;
    padding: 1.5rem 1.2rem;
}
.date{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.date p{
    font-size: 19px;
}
.date-img-container{
    display: flex;
}
.date-img-container p{
    font-size: 15px;
    margin-left: 0.7rem;
}
.date-img-container img{
    font-size: 35px;
    border-radius: 50%;
}
.blog-box-txt h4{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.05rem;
    margin-bottom: 1.7rem;
}
.blog-box-txt a,
.second-blog-edit a{
    font-size: 17px;
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
}
@media (max-width:780px) {
    .blog{
        height: fit-content;
        padding: 4rem 1rem;
    }   
    .blog-boxes{
        height: fit-content;
        display: block;
    }
    .blog-box{
        height: fit-content;
        margin-bottom: 1rem;
    }
    .blog-box-img{
        height: 17rem;
    }
}






/* FOOTER STYLING */
/* Footer Section */
.footer {
    height: fit-content;
    width: 100%;
    background-color: #40b984;
    color: white;
    padding: 7rem 10rem 1rem 10rem;
} 
.footer-top {
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(240, 240, 240, 0.493);
    
} 
.footer-top h2 {
    font-size: 40px;
    font-weight: 600;
    max-width: 600px;
} 
.btn-appointment {
    background-color: white;
    color: #40b984;
    height: 4.8rem;
    width: 16rem;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 540;
    transition: background-color 0.3s;
}
.btn-appointment:hover {
    background-color: #f5f5f5;
}
@media (max-width:780px) {
    .footer {
        height: fit-content;
        padding: 2rem 1rem;
    }
    .footer-top {
        height: fit-content;
        display: block;
    } 
    .footer-top h2 {
        font-size: 25px;
        margin-bottom: 2rem;
    } 
    .btn-appointment {
        height: 2.8rem;
        width: 13rem;
        font-size: 15px;
    }

}
  /* Footer Columns */
.footer-container {
    width: 100%;
    height: fit-content;
    display: flex;
}
.footer-column1 {
    width: 40%;
    height: 100%;
} 
.footer-column1 img{
    width: auto;
    margin-right: 0.5rem;
}
.footer-column1 h2{
    font-size: 37px;
    margin-bottom: 1rem;
}
.column1-p{
    font-size: 17px;
    margin-bottom: 1rem;
}
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 31px;
}
.footer-column2 {
    width: 60%;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100%;
    padding: 0rem 0rem;
} 
.footer-column {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.footer-column h3 {
    font-size: 22px;
    margin-bottom: 15px;
}  
.footer-column ul {
    list-style-type: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 20px;
}
.footer-column ul li a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}
.footer-column ul li a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}
.footer-column p {
    margin-bottom: 19px;
}
.formedit{
    padding-inline: 0rem;
}
.footer-column form {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
.footer-column input {
    padding: 1.3rem 2rem;
    width: 15rem;
    background-color:#39a47592 ;
    border: none;
    border-radius: 30px;
}
.footer-column button {
    padding: 1.3rem 20px;
    color: #40b984;
    border: none;
    margin-left: 9rem;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
}
.footer-column button:hover {
    background-color: black;
}
.footer-bottom {
    text-align: center;
    width: 100%;
    padding: 1rem 0rem;
    height: fit-content;
    margin-top: 20px;
}
.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* Media Query for smaller screens */
@media (max-width:780px) {
    .footer-container {
        height: fit-content;
        display: block;
    }
    .footer-column1 {
        width: 100%;
        height: 100%;
    } 
    .footer-column1 h2{
        font-size: 30px;
        margin-bottom: 1rem;
    }
    .footer-logo{
        margin-bottom: 1rem;
    }
    .footer-column2 {
        width: 100%;
        display: block;
    } 
}



/* APPOINTMENT WEBPAGE STYLING */
.appointment-hero{
    height: 45vh;
    width: 100%;
    background-color: #7ce1b57f;
    text-align: center;
    padding: 7rem 0rem;
}

.appt-text h1{
    font-size: 38px;
    margin-bottom: 1rem;
}

.appt-text a{
    color: #00bf63;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.appt-text a:first-child{
    color: #000;
}

@media (max-width:780px) {
    .appointment-hero{
        display: grid;
        place-items: center;        
        padding: 0rem 0rem;
    }
}
/* APPOINTMENT FORM STYLING */
.appointment-form{
    height: fit-content;
    width: 100%;
    padding: 3rem 8rem;
    display: grid;
    place-items: center;
}
.appointment{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.appt-form{
    height: 100%;
    width: 100%;
    padding: 2rem 2rem;
    background-color: #fbfbfb;
    display: block;
    margin-bottom: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.fff{
    height: fit-content;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr ;
}
input{
    height: 4rem;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 1.6rem;
    font-size: 16px;
    border: 0.7px solid black;
}
select{
    border-radius: 2rem;
    height: 4rem;
    padding: 1rem;
}
#doctor{
    width: 100%;
    margin-bottom: 1.6rem;
}
#message{
    width: 100%;
    height: 9rem;
}
.appt{
    height: 100%;
    width: 100%;
    padding: 2rem 3rem;
    background-color: #7ce1b57f;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.appt h3{
    font-size: 37px;
    margin-bottom: 2.4rem;
}
.appt p{
    font-size: 18px;
    font-weight: 450;
    color: #c6c6c6;
    line-height: 1.5;
    margin-bottom: 3rem;
}
.list{
    width: 100%;
    height: fit-content;
    margin-bottom: 6rem;
}
.list p{
    font-size: 18px;
    font-weight: 450;
    color: #000;
    line-height: 1.5;
    margin-bottom: 1rem;
}
 h5{
    font-size: 28px;
    font-weight: 500;
    word-spacing: -0.3rem;
    margin-bottom: 1.8rem;
}
span{
    color: #00bf63;
}
.contact{
    display: flex;
    height: fit-content;
    padding: 0;
    justify-content: space-between;
}
.phone,
.mail{
    display: flex;

}
.phone img,
.mail img{
    width: 2rem;
    top: 0%;
    margin-bottom: 3rem;
    margin-right: 1rem;
}
.form-btn{
    width: 12rem;
    height: 3rem;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 2rem;
}
.form-btn:hover{
    border: 4px solid var(--primary-color);
}
@media (max-width:780px) {
    .appointment-form{
        height: 210vh;
        width: 100%;
        padding: 3rem 1rem;
        display: block;
    }
    .appointment{
        height: fit-content;
        width: 100%;
        display: block;
    }
    .appt-form{
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
    }
    .fff{
        height: fit-content;
        width: 100%;
        display: block;
    }
    input,
    select{
        width: 100%;
        margin-bottom: 1rem;
    }
    select{
        border-radius: 2rem;
        height: 4rem;
        padding: 1rem;

    }
    .appt{
        margin: auto;
        padding: 2rem 1rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    .contact{
        display: block;
        height: fit-content;
    }
    .form-btn{
        width: 100%;
        height: 3rem;
        color: #fff;
        font-size: 16px;
        border: 1px solid #fff;
        text-decoration: none;
        cursor: pointer;
        background-color: var(--primary-color);
        border-radius: 2rem;
    }
}